.MissionMap {
    #missionmap {
        margin-bottom: 5px;
        height: 100%;
        z-index:0;
    }
}
.waypointIcon {
  background-color: rgba(0, 0, 0, 0);
}

.take-off { color: #007bff!important };
.landing { color: #dc3545!important };
.camera { color: #28a745!important };
.ban { color: #dc3545!important };
.waypoint { color: #ffc107!important };
.calendar-text {
  margin-top: -4px;
  margin-left: 4px;
  color: #f8f9fa!important;
}
