.MissionMap {
    #missionmap {
        margin-bottom: 5px;
        height: 100%;
        z-index:0;
    }
}
.waypointIcon {
  background-color: rgba(0, 0, 0, 0);
}

.take-off { color: #00FFFF };
.landing { color: #FF5733 };
.camera-on { color: #00FF66 };
.camera-off { color: #00FF66 };
.waypoint { color: #FFC300 };
.calendar-text {
  margin-top: -4px;
  margin-left: 4px;
  color: #FFFFFF;
}
