div.instrument {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

div.instrument div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.instrument div img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}