div.ButtonDiv{
  position: absolute;
  left: 0;
  width: 15%;
  height: 100%;
  background-color: #ffffff;
  z-index: 0;

  button{
    padding: 10px;
    div{
      display: inline-block;
      vertical-align: middle;
      clear:both;
      i{
        margin-right: 0px;
      }
    }
  }
  .padding2{
    padding: 0px 15px;
  }
  .margin-bottom{
    margin: 0px 0px;
  }
}

div.Map{
  margin-left: 15px;
  margin-right: 15px;
  position: absolute;
  left: 15%;
  right: 40%;
  height: 100%;
  background-color: #999999;
  z-index: 0;
}

video#Video{
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
}
div.TxtVideoDiv{
  margin-left: 15px;
  position: absolute;
  left: 15%;
  top: 0;
  width: 40%;
  z-index: 1;
  // opacity: 0.0;

  video#TxtVideo{
    width: 100%;
  }
}
