div#chartContainer{
  width: 40%;
  height: 85px;

  .ZoomChart{
    // border: 1px solid grey;
    z-index: 15;
  }

  .chart-label{
      font-size: 13px;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  .plot-container{
      cursor: crosshair;
  }

  .line-separator{
      stroke: #000;
      stroke-width: 0.55px;
      cursor: crosshair;
  }

  .ZoomGreenSelector {
      fill: #080;
      cursor: crosshair;
  }

  .ZoomRedSelector {
      fill: #f00;
  }

  .circle-red {
      fill: #f00;
  }

  .circle-green {
      fill: #080;
  }
}
