div.mission-nav{
    float: right;
    .mission-nav-buttons {
        display: inline-block;
        vertical-align: middle;
    }
    .mission-buttons{
        display: inline-block;
        vertical-align: middle;
    }
}
