.PreFlightMap {
    #preflightmap {
        margin-bottom: 5px;
        height: 100%;
        z-index:0;
    }
}
.waypointIcon {
  background-color: rgba(0, 0, 0, 0);
}

.take-off { color: #007bff!important };
.landing { color: #dc3545!important };
.camera { color: #28a745!important };
.ban { color: #dc3545!important };
.waypoint { color: #ffc107!important };
.calendar-text {
  margin-top: -4px;
  margin-left: 4px;
  color: #f8f9fa!important;
}

.take-off-read { color: rgba(0, 123, 255, 0.3)!important };
.landing-read { color: rgba(220, 53, 69, 0.3)!important };
.camera-read { color: rgba(40, 167, 69, 0.3)!important };
.ban-read { color: rgba(220, 53, 69, 0.3)!important };
.waypoint-read { color: rgba(255, 193, 7, 0.3)!important };
.calendar-text-read {
  margin-top: -4px;
  margin-left: 4px;
  color: rgba(248, 249, 250, 0.3)!important;
}
