/* Colors */

/* As hex codes */
$color-primary-0: #A68739;	/* Main Primary color */
$color-primary-1: #1A1200;
$color-primary-2: #614708;
$color-primary-3: #EED491;
$color-primary-4: #FFF6DF;



/* As RGBa codes */
$rgba-primary-0: rgba(166,135, 57,1);	/* Main Primary color */
$rgba-primary-1: rgba( 26, 18,  0,1);
$rgba-primary-2: rgba( 97, 71,  8,1);
$rgba-primary-3: rgba(238,212,145,1);
$rgba-primary-4: rgba(255,246,223,1);


/* Variables */

$bgDefault      : #a68739;
$bgHighlight    : #614708;
$colDefault     : #fff6df;
$colHighlight   : #eed491;
