.List table {
    thead tr th.center-column{
        text-align: center;
    }
    tbody tr{
        td {
          vertical-align: middle;
          &:hover{
              cursor: pointer;
          }
          button.btn.btn-default{
              border: 0px;
          }
        }
        td.button-column {
            text-align: center;
            vertical-align: middle;
            white-space: nowrap;
            width: 1px;
        }
    }
}
